# =============== #
# Unity generated #
# =============== #
Temp/
Library/AssetImportState
Library/AssetServerCacheV3
Library/FailedAssetImports.txt
Library/ScriptAssemblies
Library/ScriptMapper
Library/assetDatabase3
Library/cache
Library/expandedItems
Library/metadata
Library/previews
Library/guidmapper

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.sublime-workspace

Assets/Meshes/Textures/*.meta

Library/CurrentMaximizeLayout.dwlt
Library/CurrentMaximizeLayout.dwlt
Assets/Meshes/Textures/Untitled.png.meta
Assets/Meshes/Textures/egg.png.meta
Assets/Meshes/Textures/r1.png.meta
Assets/Meshes/Textures/r2.png.meta
Assets/Meshes/Textures/r3.png.meta
Assets/Meshes/Textures/r4.png.meta
Assets/Meshes/Textures/t1.png.meta
Assets/Meshes/Textures/t2.png.meta
Library/CurrentMaximizeLayout.dwlt
Library/CurrentLayout.dwlt
Library/CurrentLayout.dwlt
Assets/Meshes/Textures/r1.png.meta~HEAD.meta
Assets/Meshes/Textures/r1.png.meta~HEAD.meta
Assets/Meshes/Textures/startbkgd.png.meta
Assets/Meshes/Textures/startfont.png.meta
Assets/Meshes/Textures/startbkgd.png.meta
Assets/Meshes/Textures/startbkgd.png.meta
Assets/Meshes/Textures/r1.png.meta~HEAD.meta
Library/CurrentLayout.dwlt
Assets/Meshes/Textures/startfont.png.meta
Assets/Scenes/LevelOne.unity
Assets/Scenes/LevelOne.unity
